.TextField__Input,
.TextField__Label {
  display: block;
}

.TextField__Input {
  padding: 1.5rem 2rem;
  border: 1px solid var(--light-grey-1);
  outline: none;
  width: 100%;
  border-radius: 3px;
  transition: all 0.5s;
  color: var(--primary-black);
}

.TextField__Input:focus {
  border-bottom: 1px solid var(--primary-color);
}

.TextField__Label {
  padding: 0 2.1rem;
  transition: all 0.2s;
}

.TextField__Label,
.TextField__Input::placeholder {
  color: var(--light-grey-2);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.TextField__Input + .TextField__Label {
  transform: translateY(-4rem);
  opacity: 0;
  font-size: 1.3rem;
}

.TextField__Input:not(:placeholder-shown) + .TextField__Label {
  opacity: 1;
  transform: translateY(0.5rem);
  font-size: 1rem;
  padding-bottom: 0.4rem;
}
