.Head {
  background-color: var(--light-grey-3);
  color: var(--primary-black);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.Head--active {
  font-weight: 300;
}

.Body {
  padding: 0 1.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.Body p {
  padding: 1.5rem 0;
}

.Body--active {
  max-height: 500px;
}
