:root {
  --primary-color: #b63e40;
  --primary-black: #434343;
  --light-grey-1: #e5e5e5;
  --light-grey-2: #717171;
  --light-grey-3: #f2f2f2;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-black);
}
